*{
    margin:0;
    padding:0;
    font-family: 'DynaPuff', cursive;
    
   
}

.navbar-light .navbar-nav .nav-link {
    color: #2d3950;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Lato;
    
}
body{
    background-color:rgb(191, 161, 105);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}



.container-fluid button {
    background: rgb(191, 161, 105);
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .4s all ease-in-out;
    margin-right: 10px;
    
}
.container-fluid button:hover{
    color:rgb(191, 161, 105);
    background:#fff;
    border:1px solid rgb(191, 161, 105);
}
.container-fluid .btn-alert{
    background: rgb(167, 44, 44);
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .4s all ease-in-out;
    margin-right: 10px;
}
.container-fluid .btn-alert:hover{
    color:rgb(167, 44, 44);
    background:#fff;
    border:1px solid rgb(191, 161, 105);
}


.header{
    text-align:center;
    padding-top:40px;
}
.header h1{
    color:#333;
    font-size: 40px;

}
.main{
    text-align: center;
}
.container2{
    width:500px;
    margin: 7% auto;
    border-radius: 25px;
    background-color: #ccc;
    box-shadow: 0 0 17px #333;
}
