<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Bus</title>
</head>
<body>

<form th:action="searchBus" method="post">
    <h3>Enter Your Location</h3>
    <label>
        <input type="text" name="location">
    </label>
    <h3>Enter Your Destination</h3>
    <label>
        <input type="text" name="destination">
    </label>
    <button type="submit">Search Bus</button>
</form>


</body>
</html>