<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus-Table</title>
    <link rel="stylesheet" href="css/tablestyle.css">
    <!--fontawsome-->
    <script src="https://kit.fontawesome.com/edb1ca6fb8.js" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="tbl">
                    <table>
                        <tr>
                          <th>Bus</th>
                          <th>Root</th>
                        </tr>
                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       
                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       

                        <tr>
                          <td>Lorem ipsum dolor </td>

                          <td>Lorem ipsum dolor sit amet.</td>
                          
                        </tr>
                       
                      </table>

                </div>
            </div>
        </div>

    </div>
    </header>

</body>
</html>